@{
    ViewBag.Title = "Thông tin";
}
<h2>@ViewBag.Title.</h2>
<p>Chào mừng bạn đã đến với trang web bán hàng của chúng tôi !!!</p>

<address>
    Dương Tấn Ngôi<br />
    Nguyễn Thành Đạt<br />
    Phạm Xuân Sang 
    <abbr title="Phone"></abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Sanggayvl@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Dethaylong@example.com</a>
</address>
